<a href="https://colab.research.google.com/github/chejige/Youtube-view-Estimator-and-dashboard/blob/main/import_data_to_database_(SQLite).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#import lib for upload CSV files
!pip install -U -q PyDrive
 
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
 
 
# Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [5]:
link = 'https://drive.google.com/file/d/10PZ8kGnoZgoQXfabKpXU_a-L_XT2EYVG/view?usp=sharing'
 
 
# to get the id part of the file
id = link.split("/")[-2]
 
downloaded = drive.CreateFile({'id':id})
downloaded.GetContentFile('video_like_comments.csv') 
import pandas as pd
df = pd.read_csv('video_like_comments.csv')
df.head()

,Unnamed: 0,ID,Title,Publish_date,viewer_count,like_count,comment_count,categroyID,description,duration
0,0,Z3A3TQM5zZc,Live Stream - Mutual Information/AMA/Ukulele S...,2022-09-20,5680,230,27,27,Mutual Information is a cool way to see how tw...,PT47M19S
1,1,khMzi6xPbuM,Introduction to Coding Neural Networks with Py...,2022-09-19,12887,509,53,27,Although we've seen how to code a simple neura...,PT20M43S
2,2,CHOir6-ZpkE,Three more lessons from my Pop!!!,2022-09-04,8423,377,74,27,Since September 4th is Global Frank Starmer Da...,PT5M28S
3,3,AsNTP8Kwu80,"Recurrent Neural Networks (RNNs), Clearly Expl...",2022-07-11,44457,1672,248,27,When you don't always have the same amount of ...,PT16M37S
4,4,80-Wpwf1_dg,The StatQuest Illustrated Guide To Machine Lea...,2022-05-09,23278,780,219,27,Because every StatQuest starts with a Silly So...,PT15S

In [6]:
df.drop('Unnamed: 0',axis=1,inplace=True)

In [7]:
df.columns.values

array(['ID', 'Title', 'Publish_date', 'viewer_count', 'like_count',
       'comment_count', 'categroyID', 'description', 'duration'],
      dtype=object)

In [8]:
!pip install db-sqlite3

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting db-sqlite3
  Downloading db-sqlite3-0.0.1.tar.gz (1.4 kB)
Collecting db
  Downloading db-0.1.1.tar.gz (3.4 kB)
Collecting antiorm
  Downloading antiorm-1.2.1.tar.gz (171 kB)
     |████████████████████████████████| 171 kB 4.2 MB/s
Building wheels for collected packages: db-sqlite3, db, antiorm
  Building wheel for db-sqlite3 (setup.py) ... done
  Created wheel for db-sqlite3: filename=db_sqlite3-0.0.1-py3-none-any.whl size=1794 sha256=aebbe13ab0b21b37ea98b5bcaad26369b0ac751e5f5a03488d2f8c75f0b860cf
  Stored in directory: /root/.cache/pip/wheels/02/38/d5/2f54461050571bf5330fee2a37ab1c9b5e7540b0572f1acdab
  Building wheel for db (setup.py) ... done
  Created wheel for db: filename=db-0.1.1-py3-none-any.whl size=3895 sha256=df191d8150547464b85b5b8cc46c7ad4b46e92bb719524e84545cb4d3a212166
  Stored in directory: /root/.cache/pip/wheels/8e/97/82/741d2b360507411ec233d0280d7371faa94b03bde834e4a9be
  Building wheel for antiorm (setup.py) ... done
  Created wheel for antiorm: filename=antiorm-1.2.1-py3-none-any.whl size=31679 sha256=586673c29256941ae119bac84a29b1ebd9b6e106008ccc11f6452967da9c2029
  Stored in directory: /root/.cache/pip/wheels/c5/43/70/e9729370cfff40c49d3e3d05377d54b3ecd71f64e62341ea80
Successfully built db-sqlite3 db antiorm
Installing collected packages: antiorm, db, db-sqlite3
Successfully installed antiorm-1.2.1 db-0.1.1 db-sqlite3-0.0.1

In [9]:
import pandas as pd
import sqlite3
from datetime import date

In [10]:
#connecting with the database.
db = sqlite3.connect("youtbe_video.db")
df.to_sql('youtube_video',db,if_exists='replace',index=False)
print("Successful created!")

Successful created!

In [11]:
sql='''select * from youtube_video '''

In [12]:
pd.read_sql(sql,db)

,ID,Title,Publish_date,viewer_count,like_count,comment_count,categroyID,description,duration
0,Z3A3TQM5zZc,Live Stream - Mutual Information/AMA/Ukulele S...,2022-09-20,5680,230,27,27,Mutual Information is a cool way to see how tw...,PT47M19S
1,khMzi6xPbuM,Introduction to Coding Neural Networks with Py...,2022-09-19,12887,509,53,27,Although we've seen how to code a simple neura...,PT20M43S
2,CHOir6-ZpkE,Three more lessons from my Pop!!!,2022-09-04,8423,377,74,27,Since September 4th is Global Frank Starmer Da...,PT5M28S
3,AsNTP8Kwu80,"Recurrent Neural Networks (RNNs), Clearly Expl...",2022-07-11,44457,1672,248,27,When you don't always have the same amount of ...,PT16M37S
4,80-Wpwf1_dg,The StatQuest Illustrated Guide To Machine Lea...,2022-05-09,23278,780,219,27,Because every StatQuest starts with a Silly So...,PT15S
...,...,...,...,...,...,...,...,...,...
216,XNgt7F6FqDU,"The standard error, Clearly Explained!!!",2015-05-12,150891,3208,193,27,This StatQuest explains what the standard erro...,PT11M44S
217,fglJIFv08hs,Wrapping up dumplings for pot stickers.,2015-04-19,7284,85,19,1,Here's how to wrap up a dumpling that can be m...,PT23S
218,2AQKmw14mHM,"R-squared, Clearly Explained!!!",2015-02-03,462112,10249,627,27,R-squared is one of the most useful metrics in...,PT11M1S
219,Sn-keVh_ERw,onion-dice,2014-09-28,8073,100,20,1,"This is how I dice an onion, letting the layer...",PT36S
220,yMYcH8-OfJk,Cutting Butter,2014-08-24,13534,149,55,22,This is how I cut butter into the flour when m...,PT38S

In [17]:
link = 'https://drive.google.com/file/d/1-Otig2u-fyeg5MsERCUvfRrgPIX9bHP7/view?usp=sharing'
 
 
# to get the id part of the file
id = link.split("/")[-2]
 
downloaded = drive.CreateFile({'id':id})
downloaded.GetContentFile('video group.csv') 
import pandas as pd
playlist = pd.read_csv('video group.csv',index_col=0)
playlist.head()

,ID,plist_num,plist1,plist2,plist3,plist4,plist5
0,-tibALm6VEI,1,Original Songs,NaN,NaN,NaN,NaN
1,-z7JuqK4edM,1,StatQuest,NaN,NaN,NaN,NaN
2,01205ys-GtI,2,Recipes From My Kitchen,StatQuest,NaN,NaN,NaN
3,069WKnPyFnw,1,Original Songs,NaN,NaN,NaN,NaN
4,0Jp4gsfOLMs,4,Statistics and Machine Learning in R,High Throughput Sequencing,Machine Learning,StatQuest,NaN

In [18]:
playlist.to_sql('playlsit',db,if_exists='replace',index=False)
print("Successful created!")

Successful created!

In [15]:
sql='''select * from playlsit '''
pd.read_sql(sql,db)

,Unnamed: 0,ID,plist_num,plist1,plist2,plist3,plist4,plist5
0,0,-tibALm6VEI,1,Original Songs,None,None,None,None
1,1,-z7JuqK4edM,1,StatQuest,None,None,None,None
2,2,01205ys-GtI,2,Recipes From My Kitchen,StatQuest,None,None,None
3,3,069WKnPyFnw,1,Original Songs,None,None,None,None
4,4,0Jp4gsfOLMs,4,Statistics and Machine Learning in R,High Throughput Sequencing,Machine Learning,StatQuest,None
...,...,...,...,...,...,...,...,...
195,195,yIYKR4sgzI8,4,#66DaysOfData,Logistic Regression,Machine Learning,StatQuest,None
196,196,yMYcH8-OfJk,1,Recipes From My Kitchen,None,None,None,None
197,197,yQhTtdq_y9M,3,#66DaysOfData,Statistics Fundamentals,StatQuest,None,None
198,198,zITIFTsivN8,4,#66DaysOfData,Machine Learning,Linear Regression and Linear Models,StatQuest,None
199,199,zXEvFLj2880,1,Original Songs,None,None,None,None

In [22]:
# join the two table together based on video ID
sql='''SELECT * FROM youtube_video left outer join playlsit
    ON youtube_video.ID = playlsit.ID'''
df_join=pd.read_sql(sql,db)

In [23]:
from google.colab import drive

drive.mount('/content/drive',force_remount=True)
path = '/content/drive/My Drive/Colab Notebooks/My own project/df_join2.csv'

with open(path, 'w', encoding = 'utf-8-sig') as f:
  df_join.to_csv(f)

Mounted at /content/drive